body {
  direction: rtl;
  background-color: #FFF5EE;
  color: rgb(77, 65, 43);
}

.main-body .navbar {
  width: 100%;
  height: 80px;
  background-color: #f1f1f1;
  opacity: 0.7;
  z-index: 4;
}

.main-body .sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index:6 !important;
  top: 90px;
  right: 10px;
  background-color: #c5c1bd !important;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.main-body .sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(77, 65, 43);
  display: block;
  transition: 0.3s;
}

.main-body .sidebar a:hover {
  color: white;
}

.main-body .sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.main-body .openbtn {
  font-size: 20px;
  cursor: pointer;
  color: 818181;
  padding: 10px 15px;
  border: none;
}

.main-body .openbtn:hover {
  background-color: #b3aba5;
}

.main-body #main {
  transition: margin-left 0.5s;
  padding: 20px;
  direction: ltr !important;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

.main-body .header {
  height: 100vh;
  background-image: url(../images/pic1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  overflow: hidden;
  z-index: 1;
}

.main-body .header .overlay {
  position: absolute;
  background-color: black;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: -1;
}

.main-body .header .left {
  background-color:#b1a69a;
  opacity: 0.9;
  width: 60%;
  height: 60vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 10px;
  border-radius: 10px;
  box-shadow:8px 8px 15px #835542;
}
.main-body .header .left form label {
  display: block;
  font-size: 25px;
  color: rgb(44, 40, 31);
  padding: 10px;
  margin-right: 20px;
}

.main-body .header .left form {
  z-index: 10;
}

.main-body .header .left form .sel label{
  display:inline;
}

.main-body .header .left form input {
  width:80%;
  background-color: #272625;
  color: white;
  padding: 20px;
  margin-top: 20px;
  margin-right: 10px;
}

.main-body .header .left form input::placeholder {
  color: white;
  font-size: 15px;
}

.main-body .header .left form .btn {
  width: 140px;
  height: 60px;
  border: none;
  border-radius: 10px;
  position: absolute;
  margin-top: 70px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(44, 40, 31);;
  font-size: 20px;
  background-color: #c5c1bd;
}

.main-body .header .left form .btn:hover {
  background-color: #3a3938;
  opacity: 0.7;
  transition: 1s;
  color:#FFF5EE;
}
